.vscode/**
.vscode-test/**
.gitignore
langium-quickstart.md
node_modules/
src/
test/
static/
coverage/
examples/
sonar-report.xml
esbuild.mjs
eslint.config.mjs
langium-config.json
package.json
tsconfig.json
tsconfig.src.json
vitest.config.ts
.github/
snippets/
*.vsix